*{
    margin: 0%;
    padding: 0%;
}
p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%; 
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: black;
}
.footer h2{
    color: #fff;
    margin-top: 10%;
    margin-left: 1.6%;
}
.footer h5{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footerlogo img{
    height: 100px;
    width: 100px;
    padding-top: 50%;
    padding-left: 60%;
}
.partner img{
    background-color: #fff;
    border-radius: 5%;
    height: 83px;
    width: 173px;
}
.row{
    margin-right: 10%;
}
.footerStrip{
    background-color: rgb(38, 131, 201);
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
.footerStrip img{
    border-radius: 10%;
    align-items: center;
}
@media (max-width: 700px){
    .row{
        flex-direction: column; 
        align-items: center;
        margin-left: 5%; 
    }
    .footerlogo{
        align-items: center;

    }
    
}