
<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15785.238837752131!2d-13.26204!3d8.469234!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xf04c3e32bc99589%3A0xa2b0bbf4fe00a20f!2sSky%20Vision%20College%20of%20Digital%20technology%20and%20Management!5e0!3m2!1sen!2sin!4v1681121503044!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section>

    <section id="section-wrapper">
        <div class="box-wrapper">
            <div class="info-wrap">
                <h2 class="info-title">Contact Information</h2>
                <h3 class="info-sub-title">Fill up the form and our Team will get back to you within 24 hours</h3>
                <ul class="info-details">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <span>Phone: +232 73797979 | 32797979</span> 
                                        </li>
                    <li>
                        <i class="fas fa-paper-plane"></i>
                        <span>Email: info@skyvisioncollege.com</span> 
                    </li>
                </ul>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="form-wrap">
                <form action="#" method="POST">
                    <h2 class="form-title">Send us a message</h2>
                    <div class="form-fields">
                        <div class="form-group">
                            <input type="text" class="fname" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="lname" placeholder="Mail">
                        </div>
                        <div class="form-group">
                            <input type="number" class="email" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="phone" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Send Message" class="submit-button">
                </form>
            </div>
        </div>
    </section>